{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %}My Account{% endblock %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}

	{% include '::flashMessages.html.twig' %}

	<h1 class="headline">Account settings</h1>
	<p style="text-align: center;">If you would like to change your password, <a href="{{ path('fos_user_change_password') }}">click here</a></p>

	<form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit">
		{#{{ form_row(form._token) }}#}
		{{ form_row(form.firstName) }}
		{{ form_row(form.lastName) }}
		{{ form_row(form.email) }}

		<p class="secondaryHeading">We need you to enter your current password to accept changes to your account.</p>
		{{ form_row(form.current_password) }}
		{{ form_rest(form) }}

		<div class="formRow clearfix">
			<button type="submit" class="right">{{ 'profile.edit.submit'|trans }}</button>
		</div>
	</form>
{% endblock fos_user_content %}