<span class="sleeve left" style="background: repeating-linear-gradient( to right, {{ baseColor }}, {{ baseColor }} 3px, {{ decorationColor }} 3px, {{ decorationColor }} 5px);"></span>
<span class="sleeve right" style="background: repeating-linear-gradient( to right, {{ baseColor }}, {{ baseColor }} 3px, {{ decorationColor }} 3px, {{ decorationColor }} 5px);"></span>