<ul>
	<li><a href="{{ path('help_page', { path: 'index' }) }}">Help</a></li>
	<li><a href="{{ path('help_page', { path: 'about' }) }}">About the game</a></li>
	<li><a href="{{ path('help_page', { path: 'registration' }) }}">How to register</a></li>
	<li><a href="{{ path('help_page', { path: 'logging-in' }) }}">Logging in</a></li>
	<li><a href="{{ path('help_page', { path: 'your-profile' }) }}">Your profile</a></li>
	<li><a href="{{ path('help_page', { path: 'races' }) }}">Races</a></li>
	<li><a href="{{ path('help_page', { path: 'race-cards' }) }}">How to read a race card</a></li>
	<li><a href="{{ path('help_page', { path: 'odds' }) }}">Odds</a></li>
	<li><a href="{{ path('help_page', { path: 'jockeys' }) }}">Jockeys</a></li>
	<li><a href="{{ path('help_page', { path: 'horses' }) }}">Horses</a></li>
	<li><a href="{{ path('help_page', { path: 'trainers' }) }}">Trainers</a></li>
	<li><a href="{{ path('help_page', { path: 'placing-bets' }) }}">Placing a bet</a></li>
	<li><a href="{{ path('help_page', { path: 'viewing-bets' }) }}">Viewing your bets</a></li>
	<li><a href="{{ path('help_page', { path: 'collecting-bets' }) }}">Collecting a bet</a></li>
	<li><a href="{{ path('help_page', { path: 'terminology' }) }}">Terminology</a></li>
	<li><a href="{{ path('help_page', { path: 'future-plans' }) }}">The future</a></li>
	<li><a href="{{ path('help_page', { path: 'contact' }) }}">Feedback / Contact</a></li>
</ul>