<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title>{% block title %}{% endblock %} | {{ siteName }}</title>

		{% block stylesheets %}{% endblock %}
		<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
	</head>
	<body>
		<header>
			Header
			{% if app.user is not null and is_granted("IS_AUTHENTICATED_REMEMBERED") %}
				<a href="{{ path('fos_user_profile_edit') }}">Account settings</a>

				{% if is_granted("ROLE_ADMIN") %}
					<a href="{{ path('user_list') }}">User Management</a>
				{% endif %}

				<a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a>
			{% else %}
				<a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
				<a href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a>
			{% endif %}

			{#<p><a href="{{ path('bet_list') }}">My Bets</a></p>#}

			<p><a href="{{ path('race_list') }}">Today's Races</a></p>

			<p><a href="{{ path('trainer_list') }}">Trainers</a></p>
			<p><a href="{{ path('jockey_list') }}">Jockeys</a></p>
			<p><a href="{{ path('horse_list') }}">Horses</a></p>

			{% if is_granted('ROLE_ADMIN') %}
				<p><a href="{{ path('generate_single_race') }}">Generate Single Race</a></p>
				<p><a href="{{ path('generate_all_races') }}">Generate All Races</a></p>
				<p><a href="{{ path('race_run_all') }}">Run Today's Races</a></p>
				<p><a href="{{ path('race_clear') }}">Clear Races</a></p>
			{% endif %}

			{% if app.user is not null %}
				&curren;{{ app.user.balance|number_format }}
			{% endif %}

			<p><a href="#">How to play</a></p>
		</header>

		{% include 'flashMessages.html.twig' %}

		{% block body %}{% endblock %}
		<footer>&copy; Copyright {{ 'now'|date('Y') }}</footer>

		{% block javascripts %}{% endblock %}
	</body>
</html>
