{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}Register{% endblock %}

{% block fos_user_content %}

	{% include '::flashMessages.html.twig' %}

	<h1 class="headline">Register for an account</h1>

	<p>To register for an account and start playing the game, please fill out the form below.</p>

	<form action="{{ path('fos_user_registration_register') }}" method="post" autocomplete="off">

		{{ form_row(form.firstName) }}
		{{ form_row(form.lastName) }}
		{{ form_row(form.email) }}
		{{ form_row(form.plainPassword) }}
		{{ form_rest(form) }}

		<div class="formRow clearfix">
			<button type="submit" class="right">{{ 'registration.submit'|trans }}</button>
		</div>
	</form>
{% endblock fos_user_content %}