<span class="helmet" style="background-color: {{ baseColor }};">
	<span class="decoration spots" style="background: -webkit-radial-gradient(8px 7px, 3px 3px, {{ decorationColor }} 2px, transparent), -webkit-radial-gradient(12px 2px, 3px 3px, {{ decorationColor }} 2px, transparent), -webkit-radial-gradient(3px 11px, 3px 3px, {{ decorationColor }} 2px, transparent), -webkit-radial-gradient(13px 11px, 3px 3px, {{ decorationColor }} 2px, transparent), -webkit-radial-gradient(4px 2px, 3px 3px, {{ decorationColor }} 2px, transparent);"></span>
</span>