{% extends '::base.html.twig' %}

{% block title %}{{ owner.name }} | Jockey{% endblock %}

{% block body %}

	<p><a href="{{ path('owner_list') }}">All Owners</a></p>

	<p>Name: {{ owner.name }}</p>
	<p>Level: {{ owner.level }}</p>

	<h3>Colours:</h3>
	{% include 'JPRaceBundle:Owner/Silks:silk.html.twig' with { owner: owner } %}

	{% if is_granted('ROLE_ADMIN') %}
		<p><a href="{{ path('owner_edit', { id: owner.id }) }}">Edit</a></p>
	{% endif %}

	{% if is_granted('ROLE_ADMIN') %}
		<p><a href="{{ path('generate_horse', { ownerID: owner.id }) }}">Generate Horses</a></p>
	{% endif %}

	{% if owner.stable is not empty %}
		<ul>
			{% for horse in owner.stable %}
				<li><a href="{{ path('horse_view', { id: horse.id }) }}">{{ horse.name }}</a></li>
			{% endfor %}
		</ul>
	{% else %}
		<p>No Horses</p>
	{% endif %}

{% endblock %}