{% extends '::base.html.twig' %}

{% block title %}Races{% endblock %}

{% block body %}
	{% for race in races %}
		<div>
			<p><a href="{{ path('race_view', {'id' : race.id}) }}">{{ race.type|capitalize }}, Class {{ race.class }}, {{ race.minAge }}yo+, {{ race.distance|raceDistance }}, {{ race.runnerCount }} runners</a></p>
		</div>
	{% endfor %}
{% endblock %}