{% extends '::base.html.twig' %}

{% block title %}View Race{% endblock %}

{% block body %}
	<p>{% include('JPRaceBundle:Race:title.html.twig') %}</p>

	<table cellpadding="10" cellspacing="5">
		<tr>
			<th align="left">Number</th>
			{#<th align="left">Colours</th>#}
			<th align="left">Form</th>
			<th align="left">Name</th>
			<th align="left">Behaviour</th>
			<th align="left">Stamina</th>
			<th align="left">Age</th>
			<th align="left">Weight</th>
			<th align="left">Trainer</th>
			<th align="left">Jockey</th>
			<th align="left">Odds</th>
			{#<th>&nbsp;</th>#}
		</tr>
		{% for entry in race.entries %}
			<tr>
				<td>{{ loop.index }}</td>
				{#<td><img src="" alt="" width="20" height="20" /></td>#}
				<td>{{ entry.horse.form }}</td>
				<td>{{ entry.horse.name }} {% if entry.favourite %}(F){% endif %}</td>
				<td>{{ entry.horse.behaviour }}</td>
				<td>{{ entry.horse.stamina }}</td>
				<td>{{ entry.horse.age }}</td>
				<td>{{ entry.jockey.weight }}</td>
				<td>{{ entry.horse.trainer.name }}</td>
				<td>{{ entry.jockey.name }}</td>
				<td>{{ entry.odds }}</td>
				{#<td><a href="#">Place Bet</a></td>#}
			</tr>
		{% endfor %}
	</table>
{% endblock %}